body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  width: 800px;
  font-size: 14px;
}
.category li{
	display: inline-block;
	list-style-type: none;
	margin-left: 10px;
	font-size: 14px;
}
form div label {
	width: 150px;
	display: inline-block;
	vertical-align: top;
}
form div {
	margin-bottom: 10px;
}
button {
	margin-right: 10px;
}
form div input {
	width: 300px;
}
form div textarea {
	width: 300px;
	height: 100px;
}
